{% extends "base/base.html" %}

{% load static %}

{% block content %}
    <main>
        {% for noticia in noticias %}
        <div class="contenedor-card">
            <div class="card">
                <h2 class="isapre-bg">{{noticia.titulo}}</h2>
                <img 
                    src="{{noticia.imagen1.url}}"
                    alt="{{noticia.titulo}}"
                    class="imagen"
                >
                <h2 class="h2-titulo">{{noticia.sub_titulo}}</h2>                
                <p class="card-comentario">{{noticia.comentario}}</p>
                <a href="{% url 'Noticia' noticia.id %}" class="btnVerMas">Ver mas</a>
            </div>
        </div>
        {% endfor %}
    </main>
{% endblock %}