{% extends "base/base.html" %}

{% load static %}

{% block content %}
    <main>
        <div class="contenedor-card">
            <div class="card">
                <h2 class="isapre-bg">Consalud</h2>
                <img 
                    src="{% static 'noticias/img/fondo-prueba.jpg' %}"
                    alt="imagen de la noticia"                    
                    class="imagen"
                >
                <h2 class="h2-titulo">Rebaja en planes</h2>
                <p class="card-subtitulo">Este es un subtitulo de prueba</p>
                <p class="card-comentario">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis fugiat et sit minus rerum fuga quibusdam illum tempore voluptas laboriosam temporibus soluta eum libero nisi eos accusamus, quas nostrum distinctio!</p>
                <a href="#" class="btnVerMas">Ver mas</a>                
            </div>
        </div>
    </main>
{% endblock %}