<html>

<head>

    {% load static %}        
     
    <!-- Styles -->
    <link href="{% static 'noticias/css/styles.css' %}" rel="stylesheet">
</head>

<body>   
    <nav class="navbar">                
        <ul class="ul-navbar">
            <li>Inicio</li>
            <hr class="hr-linea">
            <li>Noticias</li>
            <hr class="hr-linea">
            <li>Contáctanos</li>
        </ul>
        <img src="{% static 'noticias/img/logo.png' %}" alt="Imagen logo" class="imagen-logo">
    </nav>
    <div class="nosotros">
        <h1>Quienes somos ?</h1>
        <p>Somos un grupo de expertos los cuales nos dedicamos a cotizar planes
            adecuados para nuestros clientes y mas convenientes a su bolsillo y calidad humana
        </p>
        <p>
            Desde el inicio de la pandemia hasta ahora poseemos una gran cantidad de datos, cuadros comparativos y ofertas
            de expertos en el rubro
        </p>
    </div>
<!--Contenido cambiante-->
{% block content %}


{% endblock %}

<!-- Footer -->
<footer>
    <h2>Mejora tu plan</h2>
    <h3>Todos los derechos reservados &copy &reg</h3>
    <br>
    <h4>Contáctanos nicolas.programador@gmail.com</h4>
    <h4>O al +56963530707</h4>
</footer>  
</body>

</html>