*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(24, 222, 222);
    background-size:auto;
    background-position: center;
    background-repeat:repeat;
}

@media(min-width:342px)and (max-width:576px){
    .navbar{
        /* background-color:; */
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        background-image: url('../img/fondo2.jpg');
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 30px;
        display: flex;
    }
    .imagen-logo{
        background-image: url('../img/logo.png');
        width: 40%;
        height: 40%;
        border-radius: 50%;
        margin-left: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .ul-navbar{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        list-style: none;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 5px;
        padding-left: 20px;
    }
    .ul-navbar li{
        color:whitesmoke;
        font-weight: bold;
        font-style: italic normal oblique;
        font-size: large;
        text-transform: uppercase;
    }
    .ul-navbar li:hover{
        cursor: pointer;
    }
    .hr-linea{
        background-color: azure;
        width: 50%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .hr-linea:hover{
        cursor: pointer;
    }
    .nosotros{
        background-color: rgb(246, 88, 31);
        color: azure;
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
        border-radius: .5rem;
        margin-bottom: 50px;
    }
    
    .contenedor-card{
        
        max-width: 80%;
        margin: 0 auto;
        height: 30rem;
        border-radius: .3rem;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .isapre-bg{    
        padding: 15px 20px;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        max-width: 80%;
        color: white;
    }
    .imagen{
        width: 80%;
        height: 50%;
        margin-top: 10px;
        border-radius: .3rem;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:rgb(68, 85, 236);
        border-radius: .6rem;
    }
    .imagen:hover{
        cursor: pointer;
        
    }
    .card h2{
        margin-top: 5px;
        border-radius: .3rem;
        overflow:hidden;
    }
    .card p{
        margin-top: 15px;
        overflow-x: hidden;
        max-width: 80%;
    }
    
    .btnVerMas{
        margin-top: 15px;
        background-color: darkslateblue;
        border-radius: .3rem;
        color: white;
        padding: 10px 10px;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 15px;
        transition: .3s ease-out;
    }
    .btnVerMas:hover{
        cursor: pointer;
        background-color: rgb(43, 31, 119);;
        color: cadetblue;
        transition: .3s ease-out;
    }
    .h2-titulo{
        font-weight: bold;
        text-align: center;
        max-width: 80%;
    }
    .card-subtitulo{
        font-weight: bold;
    }
    

    /* Noticia */
    .noticia{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo-noticia{
        text-align: center;
        max-width: 80%;
        text-transform: uppercase;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    .noticia-comentario{
        text-align: center;
        margin-top: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        max-width: 80%;
    }
    footer{
        display: flex;
        flex-direction: column;
        background-image: url('../img/fondo2.jpg');
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: .3rem;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
    }
    footer h2 , h3 , h4 {
        color: white;
    }
    
}
